# Backend (Nest)
BACKEND_URL="http://127.0.0.1:3001"

# NextAuth v5
AUTH_SECRET="coloque_uma_chave_forte_aqui"

# Em produção, configure o domínio público do frontend:
# Ex: AUTH_URL="https://seu-dominio.com"
AUTH_URL="http://localhost:3000"

# Se estiver atrás de proxy/reverse proxy (Nginx, etc), normalmente precisa:
AUTH_TRUST_HOST="true"

